@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="range"].slider {
  appearance: none;            
  -webkit-appearance: none;    
  -moz-appearance: none;        
  width: 100%;
  height: 8px;
  background: #444;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="range"].slider::-webkit-slider-thumb {
  appearance: none;             
  -webkit-appearance: none;     
  width: 20px;
  height: 20px;
  background: #00deb5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="range"].slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #00deb5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
